:root{
    --clr-neutral-100: hsla(0, 0%, 100%, 1);
    --clr-primary-800: hsla(229, 47%, 17%, 1);
    --clr-primary-700: hsla(229, 43%, 20%, 1);
    --clr-primary-400: hsla(230, 50%, 58%, 0.3);
    --clr-primary-300: hsla(229, 36%, 39%, 1);
    --clr-primary-200: hsla(229, 21%, 53%, 1);
    --clr-accent-400: hsla(147, 93%, 43%, 1);
    --clr-secondary-400: hsla(229, 78%, 60%, 1);

    --ff-base: "Outfit", sans-serif;

    --fw-regular: 300;
    --fw-semi-bold: 400;
    --fw-bold: 700;

    --fs-200: 0.875rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.375rem;
    --fs-600: 1.75rem;
    --fs-700: clamp(2rem, 10vw - 0.5rem, 3.25rem);
}

*, *::before, *::after {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

html{
    color-scheme: dark;
}

body{
    /* margin: 0; */
    background-color: var(--clr-primary-700);
    color: var(--clr-neutral-100);
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
    line-height: 1.5;  
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.main-grid{
    display: grid;
    grid-template-columns: 17rem 1fr;
    gap: clamp(3rem, 5vw, 10rem);
    grid-auto-flow: dense;
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
}

main{
    grid-column: 2;
    
    width: calc(100vw - 17rem);
}

aside{
    grid-column: 1;
    align-self: stretch;
}

.eyebrow {
    color: var(--clr-secondary-400);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 0;
}

.page-title {
    font-size: var(--fs-700);
    text-transform: uppercase;
    margin: 0;
}

.intro {
    font-size: var(--fs-500);
}

.job {
    width: 28.5rem;
    border-radius: 0.25rem;
    padding: 2rem;
    background: var(--clr-primary-800);
}

.job *{
    margin: 0;
}

.job-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.job-experience{
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    overflow-x: auto;
}

.role{
    font-size: var(--fs-600);
    line-height: 1.2;
}

.company{
    color: var(--clr-primary-200);
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
}

.icon-list {
    border-left: 1px solid var(--clr-primary-300);
    padding: 0;
    height: 100%;
    margin-left: clamp(3rem, 10vw, 10rem) !important;
    margin: 0;
    list-style: none;
    display: grid;
    align-content: center;
    gap: 3rem;
}

.icon-list > li {
    position: relative;
    padding-left: 2rem;
    
}

.icon-list > li::after{
    content: "";
    position: absolute;
    left: -4.5px;
    top: 0;
    width: .5rem;
    aspect-ratio: 1;
    outline: 0.5rem solid var(--clr-primary-400);
    border-radius: 50%;
    background: var(--clr-neutral-100);
    
}




